.Home {
	margin: 30px auto;
	width: 80vw;

	&__title {
		text-align: center;
		font-size: 16pt;
		font-weight: 500;
	}

	&__primeiros-passos {
		&__img {
			height: 300px;
			background-size: contain !important;
		}
	}
}