.ExpansiveCard {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	&__Card {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	&__CardActionArea {
		width: 100%;
	}

	&__CardActions {
		width: 100%;
	}

	&__CardMedia {
		height: 300px;
		background-size: contain !important;
	}
}