@import 'variables';

.Sidebar {
	background-color: $purple;
	min-width: 250px;

	&__title {
		color: #ddd;
		font-size: 25pt;
		font-weight: bold;
		text-align: center;
		margin: 30px 0;
	}

	&__items {
		margin-top: 11vh;
	}

	&__item {
		display: block;
		padding: 20px;

		&, &:hover, &:active, &:visited, &:focus {
			text-decoration: none;
			color: white;
		}

		&, &:hover, &:focus {
			transition: .2s ease;
		}

		&:hover {
			cursor: pointer;
			background-color: rgba(255,255,255,0.1);
		}

		&:focus {
			background-color: rgba(255,255,255,0.3);
		}
	}
}