@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	user-select: none;
}

body, html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
	color: inherit;
}

.position-relative {
	position: relative;
}

.burger {
	width: 40px;
	max-height: 40px;
	margin: 0 20px;
	background-color: transparent;

	&:hover {
		cursor: pointer;
	}

	&:hover &-line{
		border-color: #888;
	}

	&-line {
		display: block;
		border-bottom: 6px solid #555;
		margin-bottom: 7px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@for $i from 1 to 101 {
	.flex-#{$i} {
		flex: $i;
	}
}
